/* common style  */

*{
    box-sizing:border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.dotted-hr{
    border: 8px dotted black;
    border-top: none;
    width: 140px;
    margin: auto;
    margin-top: 15px;
    background-color: unset;
}
.header-bg{
    background: #F0FFF0;
}

/* navbar starts */

.nav-margin{
    margin-bottom: 70px;
}
.nav-element li{
    margin: 0 30px;
}

/* learning starts */
.learn-heading h1{
    font-size: 48px;
    font-weight: bold;    
    margin-top: 10px;
    margin-bottom: 19px;
}

/* topic starts  */

.card-1,.card-3,.card-4{
    border:none !important;
    background: #F8FFFB !important;
    border-radius: 10px !important;
}

.card-2{
    border: none !important;
    background: #FFFFFF !important;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1) !important;
    border-radius: 10px !important;
}

.card-hover{
    transition: .4s transform;
}

.card-hover:hover{
    transform: translateY(-30px);
}

/* online-courses starts */

.online-courses h2{
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}

.online-courses .card{
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
}

.cource-img{
    transition: .4s transform;
}

.cource-card{
    overflow: hidden;
    
}

.cource-card:hover .cource-img{
    transform: scale(1.1);
}

/* service section  */

.service{
    padding: 5px 20px;
    background: #FFFFFF !important;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1) !important;
    border-radius: 10px !important;
}

/* media section  */

@media screen and (max-width:668px) {
    .testimonial{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .testimonial img{
        margin-bottom: 30px;
    }

    .testimonial p{
        font-size: 20px;
        text-align: justify;
    }
}